{% extends 'base.html' %}
{% block title %}Painel Administrativo{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2 class="mb-4">Painel Administrativo</h2>
  <!-- Bloco: Pedidos e Reservas -->
  <h5 class="mb-3">Pedidos e Reservas</h5>
  <div class="row g-3 mb-4">
    <div class="col-md-4">
      <a href="{{ url_for('fazer_pedido') }}" class="btn btn-outline-primary w-100">
        <i class="bi bi-cart-plus"></i> Fazer Pedido
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ url_for('pedidos') }}" class="btn btn-outline-secondary w-100">
        <i class="bi bi-journal-check"></i> Ver Pedidos
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ url_for('listar_reservas') }}" class="btn btn-outline-secondary w-100">
        <i class="bi bi-calendar-check"></i> Reservas de Prova
      </a>
    </div>
  </div>
  
  <!-- Bloco: Produtos -->
  <h5 class="mb-3">Produtos</h5>
  <div class="row g-3 mb-4">
    <div class="col-md-4">
      <a href="{{ url_for('cadastrar') }}" class="btn btn-outline-primary w-100">
        <i class="bi bi-plus-circle"></i> Cadastrar Produtos
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ url_for('produtos') }}" class="btn btn-outline-secondary w-100">
        <i class="bi bi-box-seam"></i> Editar Produtos
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ url_for('catalogo') }}" class="btn btn-outline-success w-100">
        <i class="bi bi-stars"></i> Vitrine / Catálogo
      </a>
    </div>
  </div>

  <!-- Bloco: Clientes e Usuários -->
  <h5 class="mb-3">Clientes</h5>
  <div class="row g-3 mb-4">
    <div class="col-md-4">
      <a href="{{ url_for('cadastrar_cliente') }}" class="btn btn-outline-warning w-100">
        <i class="bi bi-person-badge"></i> Cadastrar Cliente
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ url_for('clientes') }}" class="btn btn-outline-secondary w-100">
        <i class="bi bi-person-lines-fill"></i> Ver Clientes
      </a>
    </div>
  </div>
  <h5 class="mb-3">usuarios</h5>
  <div class="row g-3 mb-4">
  <div class="col-md-4">
    <a href="{{ url_for('cadastrar_usuario') }}" class="btn btn-outline-info w-100">
      <i class="bi bi-person-plus"></i> Cadastrar Usuário
    </a>
  </div>
  <div class="col-md-4">
    <a href="{{ url_for('usuarios') }}" class="btn btn-outline-secondary w-100">
      <i class="bi bi-people"></i> Ver Usuários
    </a>
  </div>
</div>
{% endblock %}
