{% extends 'base.html' %}
{% block title %}Usuários Cadastrados{% endblock %}

{% block content %}
<div class="container">
  <h3 class="mb-4">Usuários do Sistema</h3>
  <table class="table table-bordered table-hover">
    <thead class="table-light">
      <tr>
        <th>Nome</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios %}
      <tr>
        <td>{{ usuario.nome }}</td>
        <td>{{ usuario.email }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
